@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;500&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

button {
  background: transparent;
  border: none;
  outline: none !important;
}

header {
  position: absolute;
  width: 100%;
  padding-top: 2.8rem;
}

#header-logo {
  width: 100px;
}

#btn-expand-menu {
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: -webkit-right;
}

#btn-expand-menu span {
  border-radius: 3px;
  display: block;
  background: #fff;
  height: 3px;
  margin: 4px 0;
}

#btn-expand-menu span:first-child {
  width: 85%;
}

#btn-expand-menu span:last-child {
  width: 70%;
}

main {
  background: #231F20;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  font-family: 'Vidaloka', serif;
  font-size: 3.5em;
  line-height: 1em;
  letter-spacing: 0.5px;
}

main a {
  margin-top: 2.5rem;
  display: inline-block;
  padding: 16px 50px;
  text-decoration: none !important;
  font-family: 'Vidaloka', serif;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 18px;
  -webkit-transition: all ease-in .25s;
  transition: all ease-in .25s;
}

main a:hover, main a:focus, main a:active {
  color: #231F20;
  background: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main #img-cuia {
  max-width: 280px;
}

main #main-left-bg {
  position: fixed;
  left: 0;
  bottom: 50%;
  width: 130px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: .33;
  margin-left: -65px;
  height: 380px;
  -webkit-transition: all ease-in .1s;
  transition: all ease-in .1s;
}

main #main-right-bg {
  position: fixed;
  right: 0px;
  bottom: 50%;
  width: 540px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: .33;
  margin-right: -280px;
  -webkit-transition: all ease-in .15s;
  transition: all ease-in .15s;
}

main span {
  position: relative;
}

main svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: visible;
}

main svg path {
  stroke: #E3B42A;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

aside {
  top: 0;
  right: 0;
  background: #E3B42A;
  width: 380px;
  min-height: 100vh;
  position: fixed;
  z-index: 999;
  margin-right: -380px;
  -webkit-transition: all ease-in .25s;
  transition: all ease-in .25s;
}

aside ul {
  list-style: none;
  padding-top: 1rem;
  padding-right: 2rem;
}

aside ul li {
  display: block;
}

aside ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #231F20 !important;
  letter-spacing: 0.5px;
  -webkit-transition: all ease-in .1s;
  transition: all ease-in .1s;
}

aside ul li a:hover, aside ul li a:active, aside ul li a:focus {
  color: #fff !important;
}

.active-menu {
  margin-right: 0 !important;
  -webkit-box-shadow: -1px 0 5px #231F2050;
          box-shadow: -1px 0 5px #231F2050;
}

section#sobre {
  padding: 4rem 0;
}

section#sobre h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.5px;
}

section#sobre h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 2;
}

section#sobre a {
  background: #231F20;
  font-weight: 600;
  border-radius: 50px;
  padding: .75rem 2rem;
  color: #fff !important;
  text-decoration: none !important;
  display: inline-block;
}

section#contato {
  padding: 3rem 0;
  background: #E3B42A;
}

section#contato h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.5px;
}

section#contato h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
}

section#contato input, section#contato textarea {
  font-family: 'Montserrat', sans-serif;
  background: #231F20;
  border-color: #231F20;
  color: #fff;
  font-weight: 600;
  padding: 1.5rem 1rem;
}

section#contato button {
  background: #fff;
  font-weight: 600;
  border-radius: 50px;
  padding: .75rem 2rem;
}

footer {
  padding: 3rem 0 1rem 0;
  background: #231F20;
  color: #fff;
}

footer a {
  color: #fff !important;
}

footer .social-icon {
  margin-top: 2rem;
  font-size: 30px;
}

footer h5 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

footer p a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none !important;
}

footer p a i {
  width: 25px;
}

footer hr {
  border-color: #b2b2b2;
}

footer .btn-whatsapp {
  display: block;
  text-decoration: none !important;
  background: #2af196;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding: 1rem 0;
  font-weight: 600;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */